---
layout: page
---

<script src="/assets/js/card.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2770606.js"></script>
<!-- End of HubSpot Embed Code -->

<div>
  {% if page.headerIcon == "paas" %}
  <!-- Display something if the page ID is "home" -->
  <div class="feature-icon">
    <img src="/assets/icons/PaaS-round.svg" alt="CluedIn PaaS" />
  </div>
  {% endif %}
  {% if page.headerIcon == "saas" %}
  <!-- Display something if the page ID is "home" -->
  <div class="feature-icon">
    <img src="/assets/icons/SaaS-round.svg" alt="CluedIn SaaS" />
  </div>
  {% endif %}
  {% if page.headerIcon == "local" %}
  <!-- Display something if the page ID is "home" -->
  <div class="feature-icon">
    <img src="/assets/icons/Local-round.svg" alt="CluedIn Local" />
  </div>
  {% endif %}
  <h1 class="h1">{{ page.title }}</h1>
</div>
{{ content }}
